
body {
  background-color:  #1C2F2F;
}

h1, h2 {
  color: LightGray;
}

a {
  color: LightBlue;
}

.page {
  display: none;
}

.page:target {
  display: inline-block;
}

input[type="text"], input[type="search"] {
  border: 1px solid DarkSlateGrey !important;
  color: LightGray;
  background-color: black;
  box-shadow: -5px -5px 20px 0px DarkSlateGrey inset, 5px 5px 20px 0px black inset !important;
}

.settings-remote-storage-entry:hover input {
  background-color: LightPink;
}

.settings-storage-choice button {
  font-size: 125%;
  font-weight: bold;
  color: black;
  background-color: #404040;
  background-image: linear-gradient(to top, #343434 0%, #404040 100%);
  box-shadow: 0 20px 4px -21px white inset, 0 5px 10px 0 black;
  text-shadow: 0px 1px 1.5px #606060;
}

.settings-storage-choice button:hover {
  color: LightBlue;
  text-shadow: none;
}

.settings-storage-choice .pure-button-active {
  background-image: linear-gradient(to top, #151515 0%, #1d1d1d 100%);
  color: LightBlue;
  box-shadow: 0 5px 10px 0 black;
  text-shadow: 0 0 4px rgba(200, 200, 250, .4);
}

.pure-button.remove-storage {
  color: white;
  background-color: crimson;
}
