
body {
  background-color:  #1C2F2F;
}

h1, h2 {
  color: LightGray;
}

a {
  color: LightBlue;
}

.page {
  display: none;
}

.page:target {
  display: inline-block;
}

.settings-remote-storage-entry:hover input {
  background-color: LightPink;
}

.settings-remote-storage-add button {
    background-color: DarkSlateGrey;
    color:  #6D8484;
    border-radius: 4px;
}

.settings-remote-storage-add .pure-button-active {
  font-weight: bold;
  color: DarkSeaGreen;
  text-shadow: 1px 1px black;
}
