.progress-bars {
  min-height: 1.5em;
  margin-bottom: -1.5em;
  position: sticky;
  top: 0;
  z-index: 3;
}

.progress-bar .bar {
  width: 0%;
  transition: all .33s ease;
  background: #2A4747;
  height: 2.4em;
  margin-top: -2.4em;
  z-index: -2;
}

.progress-bar.done .bar {
  transition: all .33s ease;
  background: #2A4747;
}

.progress-bar.done:hover .bar {
  background: #3C6565;
}

.progress-bar {
  padding-bottom: 4px;
}

.progress-bar h1 {
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  color: LightGrey;
  margin: 0px;
  z-index: 2;
  text-shadow: 0.5px 0.5px 5px black;
  box-shadow: 0px 1px 1px black;
}

.progress-bar .status {
  position: relative;
  color: lightblue;
  top: 10px;
  left: 10px;
  margin-bottom: -20px;
  height: 20px;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 0;
}
