.progress-bars {
  min-height: 2.4em;
  margin-bottom: -2.4em;
  position: sticky;
}

.progress-bar .bar {
  width: 0%;
  background: linear-gradient(#03A9F4 0%, DarkSlateGrey 5%, #1C2F2F 95%, yellowgreen 100%);
  height: 2.4em;
  margin-top: -2.4em;
  z-index: -2;
  border-bottom: 2px DarkSlateGrey;
}

.progress-bar.done .bar {
  transition: all .33s ease;
  background: #2A4747;
}

.progress-bar.done:hover .bar {
  background: #3C6565;
}

.progress-bar {
  padding-bottom: 5px;
}

.progress-bar h1 {
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
  color: LightGrey;
  margin: 0px;
  z-index: 2;
  text-shadow: 0.5px 0.5px 5px black;
}

.progress-bar .status {
  position: relative;
  color: lightblue;
  top: 10px;
  left: 10px;
  margin-bottom: -20px;
  height: 20px;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 0;
}
